.form {
  padding: gem(60);
  position: relative;
  z-index: 5;
  @media (max-width: 1024px) {
    padding: 0;
  }

  &-section {
    //overflow: hidden;
    position: relative;

    &::after {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: '';
      position: absolute;
      background: #FFF7E8;
      opacity: 0.1;
      backdrop-filter: blur(4px);
      border-radius: 30px;
      z-index: 1;

    }

    @media (max-width: 1024px) {
      padding: gem(40);
      h2 {
        text-align: center;
      }
    }
    @media (max-width: 767px) {
      padding: gem(45) gem(10);
      h2 {
        font-size: gem(24);
        line-height: gem(28);
      }
      .col-lg-4{
        position: static;
      }


    }

    .col-md-12:first-child {
      &::after {
        background: rgba(91, 81, 68, 0.8);
        filter: blur(150px);
        top: -50%;
        left: 0;
        width: 100%;
        height: 80%;
        border-radius: 50%;
        z-index: -1;
        content: '';
        position: absolute;
      }
    }

    &__img {
      background: url('@img/form_bg.png') no-repeat left bottom  / contain;
      height: 80%;
      border-radius: 0 0 0 30px;
      z-index: 2;
      position: absolute;
      bottom: 0;
      width: 100%;
      @media (max-width: 767px){
        display: none;
      }


    }

    &__decor {
      top: -42%;
      z-index: 0;
      width: gem(150);
      height: gem(250);
      left: 50%;
      transform: translateX(-50%);
      background: url('@img/form_decor.png') no-repeat center / contain;

      span {
        position: absolute;
        width: gem(70);
        height: gem(35);
        background: url('@img/coffee.png') no-repeat center  / contain;

        &:nth-child(1) {
          bottom: 20%;
          left: 60%;
          transform: translateX(-50%) rotate(-15deg);
          z-index: 1;
          animation: coffee-form-1 8s linear infinite, drop-shadow 9s linear infinite;

        }

        &:nth-child(2) {
          width: gem(50);
          height: gem(25);
          top: 40%;
          right: 0;
          transform: translateY(-50%) rotate(30deg);
        }
      }

      @media (max-width: 1024px) {
        left: 0;
      }
      @media (max-width: 767px){
      left: 50%;
        top: -35%;
      }
    }
  }


  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: gem(15) gem(25);
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: gem(25) 0;
      justify-items: center;
    }
  }


  &__item {
    height: 60px;
    position: relative;

    width: 100%;
    @media (max-width: 767px) {
      width: 80%;
    }

    label {
      position: absolute;
      left: gem(20);
      top: gem(15);
      transition: all .35s linear;
      font-size: gem(12);
      line-height: gem(14);
      @media (max-width: 767px) {
        font-size: gem(10);
        line-height: gem(12);
      }
    }

    &.invalid {
      .form__message {
        color: #EB5757;
      }

      input {
        color: #EB5757;
        border-color: #EB5757;

        ~ label {
          top: gem(-20);
          color: #EB5757;
          left: 0;
          opacity: .5;
          @media (max-width: 767px) {
            top: gem(-14);
          }
        }


      }
    }

    &.valid {
      input {
        background: #5B5144;
        border: 1px solid #5B5144;

        ~ label {
          top: gem(-20);
          left: 0;
          opacity: .5;
          @media (max-width: 767px) {
            top: gem(-14);
          }
        }


      }
    }

  }

  input,
  textarea {
    border: none;
    padding: gem(15) gem(20);
    border: 1px solid #FFF7E8;
    border-radius: 5px;
    background: transparent;
    color: $bage;
    appearance: none;
    width: 100%;
    height: 100%;


    transition: all 0.35s;

    &:focus-visible {
      outline: none;
    }

    &:focus {
      ~ label {
        top: gem(-20);
        left: 0;
        opacity: .5;
        @media (max-width: 767px) {
          top: gem(-14);
        }
      }

    }

  }

  textarea {
    resize: none;
    padding: 1rem;
    height: 14rem;
    width: 100%;
    border: 1px solid $send;

    + .form__message {
      bottom: 1.5rem;
    }

    &:focus-visible {
      border-color: $white;
    }
  }

  .btn {
    width: 100%;
    max-width: 100%;
    color: $bage;
    @media (max-width: 767px) {
      width: 80%;
    }
  }


  &__message {
    position: absolute;
    left: 0;
    font-size: gem(10);
    line-height: gem(12);
    @media (max-width: 767px) {
      font-size: gem(8);
      line-height: gem(10);
    }
  }


}

@keyframes coffee-form-1 {
  0% {
    transform: translateX(-50%) rotate(-15deg);

  }
  25% {
    transform: translateX(-50%) rotate(0);
  }
  50% {
    transform: translateX(-50%) rotate(-15deg);
  }
  75% {
    transform: translateX(-50%) rotate(15deg);
  }
  100% {
    transform: translateX(-50%) rotate(-15deg);

  }

}

@keyframes coffee-form-2 {
  0% {
    transform: translateY(-50%) rotate(30deg);

  }
  25% {
    transform: translateY(-50%) rotate(15deg);
  }
  50% {
    transform: translateY(-50%) rotate(30deg);
  }
  75% {
    transform: translateY(-50%) rotate(45deg);
  }
  100% {
    transform: translateY(-50%) rotate(30deg);

  }

}

