.section {
  position: relative;
  z-index: 0;
  padding: gem(60) 0;
  h2{
    margin-bottom: gem(60);
    font-weight: 600;
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    @media (max-width: 1024px){
      margin-bottom: gem(30);
    }
    span{
      color: $darkGreen;
    }
  }
}
