
:root {
  // FONT-SIZE
  --font-size-h1: #{gem(60)};
  --font-size-h2: #{gem(40)};
  --font-size-h3: 24px;
  --font-size-h4: #{gem(20)};
  @media all and (max-width: 1024px) {
    --font-size-h1: #{gem(52)};
    --font-size-h2: #{gem(36)};
    --font-size-h4: #{gem(18)};
  }
  @media all and (max-width: 480px) {
    --font-size-h1: #{gem(48)};
    --font-size-h2: #{gem(32)};
  }
  //LINE-HEIGHT
  --line-height-h1: #{gem(70)};
  --line-height-h2: #{gem(48)};
  --line-height-h3: 24px;
  --line-height-h4: #{gem(24)};
  @media all and (max-width: 1024px) {
    --line-height-h1: #{gem(62)};
    --line-height-h2: #{gem(40)};
  }
  @media all and (max-width: 480px) {
    --line-height-h1: #{gem(56)};
    --line-height-h2: #{gem(38)};
  }
}